.servicesDetails {
    padding: 30px;
}
.centerBtn{
  text-align: center;
}
  .contentServicesOption{
    padding: 40px 150px 25px 150px;
    margin-bottom: 80px;
    margin-top: 40px;
    background-color: rgb(245, 243, 242);
    border-radius: 25px;
  }
  .contentServicesOption h1{
    color: black;
    font-size: 1.8em;
    text-align: center;
  }
  .contentServicesOption p {
    font-size: 1.3rem;
    padding: 10px;
    
    line-height: 1.8em;
  }
  .introToService{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.8em;
    font-weight: 600;
  }
  .textWhite {
    text-decoration: none;
    color: white;
  }
  span .textBlack{
    color: black;
    text-decoration: none;
  }
   p img{
    width: 700px;
    height: auto;
    float: left;
    margin-right: 30px ;
  }
  p video{
    width: 700px;
    height: auto;
    float: left;
    margin-right: 30px ;

  }
  
  .dash{
    color:rgb(0, 149, 179);
    font-size: 1.5em;
    padding-right: 25px;
  }
  
 .returnServiceBtn{
    background-color: white;
    color:rgb(0, 149, 179);
    border: 2px solid rgb(0, 149, 179);
    border-radius: 10px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer; 
    min-width: 15%;
  }
  
  .brLineServices {
    border-top: 3px solid rgb(0, 149, 179);
    text-align: center;
    display: block;
    width: 40%;
    margin: 30px auto;
  
  }
  video::-webkit-media-controls {
    display:none !important;
  }
  
  video::-webkit-media-controls-enclosure {
    display:none !important;
  }
  
  video::-webkit-media-controls-panel {
    display:none !important;
  }

  @media screen and (max-width:1065px) {

    p > img {
      height: 100%;
      width: 100%;
      float: none;
      padding-top: 20px;
    
    }
    .servicesDetails p{
      padding: 0 10px 20px 10px;
      margin-bottom: 80px;
      margin-top: 0;
    } 
     p .introToService {
      padding-bottom: 10px;
    }
    .contentServicesOption {
      padding-left: 5px ;
      padding-right: 5px;
    }

    .contentServicesOption p {
      font-size: 1.3rem;
      padding: 10px;
      margin-bottom: 0;
      line-height: 1.8em;
      text-align: none;
    }
  }
    @media screen and (max-width: 440px){
      .introToService{
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        line-height: 1.8em;
        font-weight: 600;
      }
      .contentServicesOption p {
        font-size: 1.3rem;
        padding: 10px;
        margin-bottom: 0;
        line-height: 1.8em;
        text-align: none;
      }
      .contentServicesOption{
        margin-bottom: 20px;
      }
      .servicesDetails p{
        padding: 0 10px 20px 10px;
        margin-bottom: 0px;
        margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      
      font-size: .9rem;
       
      }
      .servicesDetails {
        padding: 0;
      }
      p video{
        width: 400px;
        height: auto;
        float: left;
        margin-bottom: 20px;
    
      }
      .returnServiceBtn{
        background-color: white;
        color:rgb(0, 149, 179);
        border: 2px solid rgb(0, 149, 179);
        border-radius: 10px;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        cursor: pointer; 
        min-width: 20%;
        margin-bottom: 20px;
      }
    }
  

  
  

  