
.service-content{
    height: auto;
    width: auto;

}

 

.banner-title{
    height: 150px;
    width: auto;
    background-color: grey;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}
.banner-title h1 {
    font-size: 3em;
    padding-top: 30px;
}
.introServiceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 50px 0;
  background-color: #eee;

}

.introService {
  max-width: 1500px; /* changed max-width from 800px to 1000px */
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 12px;
}

/* Styling for container */
.container-content {
    display: grid;
    justify-content: center;
    gap: 2rem;
    background-color: #fafafa;
    grid-template-rows: repeat(2, .3fr);
    grid-template-columns: repeat(2, .3fr);
    padding: 30px 100px;
  }
  
  /* Styling for each service description */
  .descServices1, .descServices2, .descServices3, .descServices4 {
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 600px;
    position: relative;
    height: auto;
  }
  
  /* Styling for image */
  .descServices1 img, .descServices2 img, .descServices3 img, .descServices4 img {
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 25px;

  }
  .descServices1:hover, .descServices2:hover, .descServices3:hover, .descServices4:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Add a hover effect to the service images */
  .descServices1 img:hover, .descServices2 img:hover, .descServices3 img:hover, .descServices4 img:hover {
    filter: brightness(85%);
  }
  
  /* Styling for heading */
  .descServices1 h1, .descServices2 h1, .descServices3 h1, .descServices4 h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-bottom: 10px;  
    border-bottom: 2px solid grey;
    color: black;
  }
  
  /* Styling for paragraph */
  .descServices1 p, .descServices2 p, .descServices3 p, .descServices4 p {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding:0 50px 0 50px;
    line-height: 1.9em;
  }
  
  /* Styling for button */
  .btnDesc button {
    background-color: white;
    color:rgba(96,125,139);
    border: 2px solid rgba(96,125,139);
    border-radius: 10px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer; 
    width: 30%;
    position: relative; 
  }
  .btnDesc button:hover {
    background-color: rgba(96, 125, 139, 0.9);
    color: white;
  }.btnDesc button:hover {
    transition: all 0.3s ease-in-out;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 1280px) {
    .container-content {
        padding: 20px;
        grid-template-rows: repeat(2, .3fr);
        grid-template-columns: repeat(2, .3fr);
      }
    
    .descServices1, .descServices2, .descServices3, .descServices4 {
      flex: 2 2 15rem;
      height: 500px;
      width: 550px;
    }
    
    .descServices1 img, .descServices2 img, .descServices3 img, .descServices4 img {
      width: 70%;
      height: auto;
    }
    
    .descServices1 h1, .descServices2 h1, .descServices3 h1, .descServices4 h1 {
      font-size: 1.25rem;
    }
    
    .descServices1 p, .descServices2 p, .descServices3 p, .descServices4 p {
      font-size: 0.8rem;
      line-height: 1.7em;
    }
    
    .btnDesc button {
      font-size: 0.875rem;
      padding: 0.5rem 0.75rem;
      height: 40px;
      width:100px;
    }
  }
  @media screen and (max-width:960px) {
    .container-content {
      padding: 50px;
      grid-template-rows: repeat(1, auto);
      grid-template-columns: repeat(1,auto);
    }
    .descServices1, .descServices2, .descServices3, .descServices4 {
      flex: 2 2 15rem;
      height: auto;
      width: auto;
    }
    .descServices1 img, .descServices2 img, .descServices3 img, .descServices4 img {
      width: 50%;
      height: auto;
    }
    
    .btnDesc button {
     position: relative;
     bottom: 0;
    }
    .banner-title h2 {
      font-size: 2em;
  }
  .banner-title{
    height: 150px;
}
  }
  @media screen and (max-width:440px){
    .introService {
      font-size: 1em;
      line-height: 1.5em;
    }
    .container-content {
      display: grid;
      justify-content: center;
      gap: 0;
      background-color: #fafafa;
      grid-template-rows: repeat(4);
      grid-template-columns: repeat(1 );
      padding: 0;
    }
    .descServices1, .descServices2, .descServices3, .descServices4 {
      text-align: center;
      background-color: #fff;
      padding: 1rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      max-width: 90%;
      position: relative;
      margin:30px
    }
    .btnDesc button {
     padding: 10px; 
      width: 40%;
    }
    .descServices1 p, .descServices2 p, .descServices3 p, .descServices4 p {
      font-size: 1rem;
      margin-bottom: 1rem;
      padding:15px;
      line-height: 1.8em;
    }
    .descServices1 img, .descServices2 img, .descServices3 img, .descServices4 img {
      width: 100%;
  
    }
  }
  