/* Intro section styles */
.introHeader{
  position: relative;
}
.introImg {
  width: 100%; 
  height: auto;
  display: block;
  filter: brightness(0.7);
  border-radius: 0px;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(87, 86, 86, 0.9);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  padding: 30px;
  color:#f6f6f6;
}

.intro h1 {
  font-size: 2.5rem;
}

.intro p {
  font-size: 1.2rem;
}

/* Reason section styles */
.reasonContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

.reason-text {
  flex-basis: 50%;
  padding-right: 20px;
}
.reasonPolish {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  max-width: 900px;
}

.reason-info {
  width: 50%;
  padding-right: 20px;
}

.reason-info h2 {
  padding-bottom: 20px;
  font-size: 1.5em;
}
.reason-info p {
  line-height: 1.8em;
} 

.reason-img-container {
  width: 50%;
}

.reason-img {
  max-width: 450px;
  max-height: 400px;
  border: 1px solid black;
  flex-basis: 50%;
  transition: transform 0.2s ease-in-out;

}

.reason-img:hover {
  transform: scale(1.1);
}

/* Floor resurfacing services section */
.floor-resurfacing-services {
  background-color: #f6f6f6;
  padding: 80px 0;
}

.intro2 p {
padding-top: 30px;
padding-left: 20px;
padding-right: 20px;
  text-align: center;

}

.services-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: auto;
}

.serviceOffer {
  display: flex;
  align-items: flex-start;
  margin: 60px;
  width: 40%;
}

.serviceOffer h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.serviceOffer p {
  font-size: 18px;
  line-height: 1.5;
  color: #777;
  margin-bottom: 20px;
  flex: 1;
}
.service-text{
  width: 50%;
}
.service-img-wrapper{
  width: 400px;
  height: 300px;
  flex: 1;
  margin-left: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;

}
.service-img{
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.service-img:hover {
  transform: scale(1.05);
}

.outro {
  margin-top: 80px;
  text-align: center;
}

.outro p {
  font-size: 18px;
  line-height: 1.5;
  color: #777;
}
.btnQuote {
  background-color: #777;
  padding: 15px;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
}
/* Media queries */
@media screen and (max-width:1200px) {

  .serviceOffer {
    width: 80%;
  }
  .reason-img {
    width: 350px;
    height: 300px;
  
  }
  
  
}
@media screen and (max-width:768px) {
  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(87, 86, 86, 0.9);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    padding: 10px;
    color:#f6f6f6;
  }
  
  .intro h1 {
    font-size: 1.5rem;
    padding-bottom:10px;
  }
  
  .intro p {
    font-size: .9rem;
  }

  .services-list {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .reason-img-container img {
    max-width: 100%;
    height: auto;
  }
  .reason-img-container{
    max-width:50%;
    position: relative;
  }

  .serviceOffer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
  }
  

  .service-img-wrapper {
    margin-left: 0;
    margin-bottom: 20px;
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width:440px) {
  .intro{
    width: 50%;
    margin: 0;
    padding: 10px;
    text-align: left;
    top:50%;
    left: 30%;
    border-radius: 0px;
  }
  .intro h1 {
    font-size: 1rem;
    padding-bottom:10px;
    padding-top: 10px;
  }
  
  .intro p {
    font-size: .5rem;
    line-height: 1.5em;
  }
  .reasonPolish {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px;
      max-width: 420px;
      object-fit: contain;
  }
  .reason-info {
    font-size: .8rem;
    line-height: 1.6em;
  }
  .reason-img-container img {
  max-width: 100%;
  height: auto;
}
.reason-img-container{
  max-width:50%;
  position: relative;
}
.serviceOffer {
  margin-left:0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.service-text{
  width: 80%;
}
.service-img-wrapper {
  margin: 0;
  width:200px;
  height: 200px;
}
.serviceOffer h2 {
  font-size: 1.4em;
  margin-bottom: 20px;
  color: #333;
}
.serviceOffer p {
  font-size: .9rem;
}

.outro {
  padding:0 30px 0 30px;
}

}